{% extends 'outfits/base.html' %}

{% block title %}Order Submitted - MindVibe{% endblock %} {# เพิ่ม Title บล็อก #}

{% block content %}
    <h2>Payment Information Submitted!</h2>
    <p>Thank you for your order. We have received your payment information and it is now pending verification.</p>
    <p>You can check the status of your rental in your profile.</p>

    {# --- เพิ่ม Link ไปยังหน้า Profile --- #}
    <p>
        <a href="{% url 'outfits:user_profile' %}" class="button">View My Rentals</a>
        &nbsp; {# เพิ่ม space เล็กน้อย #}
        {# --- แก้ URL ให้ใช้ namespace --- #}
        <a href="{% url 'outfits:outfit-list' %}" class="button">Continue Shopping</a>
    </p>
{% endblock %}